bin/
gen/
build/
.project
.classpath
.settings/
backyardbrains.keystore
*.apk
device*.png
desktop.ini
.DS_Store
*.iml
.gradle/
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build
/captures
